/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	font-size: $main_font_size;
	position: relative;
	// height: $footer_height;
	background-color: #344b8e;
	padding: 45px 0;
	// @extend %clear_all;
	.container_center {
		// padding-top: 10px;
		// padding-bottom: 10px;
	}
}
