/* Header
 ----------------------------------------------------------------------------- */
.header {
	// background-color: #ccc;
	padding: 50px 0;
	position: absolute;
	left: 0;
	width: 100%;
	transition: 0.3s;
	// @extend %clear_a;

	&__content {
		max-width: $container_width;
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
