- navbar = ['home', 'about', 'work', 'blog', 'contact'];
- service = [{name: 'Branding', text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.'},{name: 'Design', text: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem  '},{name: 'Development', text: 'At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.'},{name: 'ROCKET SCIENCE', text: 'Et harum quidem rerum est et expedita distinctio. Nam libero tempore.'}];
-
    team = [
        {
            name: 'ANNE HATHAWAY', 
            prof: 'CEO / Marketing Guru', 
            photo: 'Anne_Hathaway_in_2016.jpg', 
            text: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.', 
            soc: ['fb', 'tw', 'in', 'mail']
        }, 
        {
            name: 'Kate Upton', 
            prof: 'Creative Director', 
            photo: 'F7XIdhSg_400x400.jpg', 
            text: 'Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.', 
            soc: ['tw', 'in', 'mail']
        }, 
        {
            name: 'Olivia Wilde', 
            prof: 'Lead Designer', 
            photo: 'olivia-wilde-main.jpg', 
            text: 'Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.', 
            soc: ['fb', 'tw', 'in', 'mail']
        }, 
        {
            name: 'Ashley Greene', 
            prof: 'SEO / Developer', 
            photo: 'Ashley_Greene_Comic-Con_2011.jpg', 
            text: 'Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.', 
            soc: ['fb', 'tw', 'mail']
        }
    ];

- skills = [{percent: '90', name: 'Web Design'}, {percent: '75', name: 'HTML / CSS'}, {percent: '70', name: 'GRAPHIC DESIGN'}, {percent: '85', name: 'UI / UX'}];

- works = ['Isometric Perspective Mock-Up', 'Time Zone App UI', 'Viro Media Players UI', 'Blog / Magazine Flat UI Kit'];

- about = [{text: 'Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque.', name: 'Chanel Iman', prof: 'CEO of Pinterest', img: 'chanel-iman-lead.jpg'}, {text: 'Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.', name: 'ADRIANA LIMA', prof: 'Founder of Instagram', img: 'adriana-lima-1.jpg'}, {text: 'Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.', name: 'angelina jolie', prof: 'Lead Designer at Behance', img: 'jolie2.jpg'}, {text: 'Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque.', name: 'EMMA STONE', prof: 'Co-Founder of Shazam', img: 'Emma-Stone-Accutaine-Skin-Story.jl.072116.jpg'}];
